{{define "base"}}

<!doctype html>

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="content-language" content="ru" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Docker management" />
    <meta name="author" content="nia" />
    <meta name="copyright" content="Dune" />

    <link rel="icon" href="/static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="/static/images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />

    <link rel="stylesheet" href="/static/vendors/chota/chota.min.css" />
    <link rel="stylesheet" href="/static/vendors/font-awesome4/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Dokcer hard manager</title>
  </head>

  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a href="/">Main</a>
          <a href="/containers">
            <i class="fa fa-cubes mr-1" aria-hidden="true"></i>
            Containers
          </a>
          <a href="/images">
            <i class="fa fa-hdd-o mr-1" aria-hidden="true"></i>
            Images
          </a>
          <a href="/volumes">
            <i class="fa fa-folder mr-1" aria-hidden="true"></i>
            Volumes
          </a>
          <a href="/networks">
            <i class="fa fa-sitemap mr-1" aria-hidden="true"></i>
            Networks
          </a>
          <a href="/configs">
            <i class="fa fa-inbox mr-1" aria-hidden="true"></i>
            Configs
          </a>
          <a href="/secrets">
            <i class="fa fa-lock mr-1" aria-hidden="true"></i>
            Secrets
          </a>
        </div>
      </nav>

      <div>{{ block "content" .}}{{ end }}</div>
    </div>
  </body>
</html>
{{ end }}
