{{ template "base" . }} {{define "content"}}

<h1>Container</h1>

<div class="_card">
  <h2>Actions</h2>
  <div>
    <ul>
      <li>
        <a href="/container/{{.Container.ID}}/action/start">Start TODO</a>
      </li>
      <li>
        <a href="/container/{{.Container.ID}}/action/stop">Stop TODO</a>
      </li>
      <li>
        <a href="/container/{{.Container.ID}}/action/kill">Kill TODO</a>
      </li>
      <li>
        <a href="/container/{{.Container.ID}}/action/restart">Restart TODO</a>
      </li>
      <li>
        <a href="/container/{{.Container.ID}}/action/pause">Pause TODO</a>
      </li>
      <li>
        <a href="/container/{{.Container.ID}}/action/resume">Resume TODO</a>
      </li>
      <li>
        <a href="/container/{{.Container.ID}}/action/remove">Remove TODO</a>
      </li>
    </ul>
  </div>
</div>

<div>
  <h2>Container status</h2>
  <div>
    <table>
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ .Container.ID}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{.Container.Name}}</td>
        </tr>
        <tr>
          <td>Ip address</td>
          <td>TODO</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{.State.Status}}</td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{ .Container.Created }}</td>
        </tr>
        <tr>
          <td>Start time</td>
          <td>{{.State.StartedAt}}</td>
        </tr>
        <tr>
          <td>RestartCount</td>
          <td>{{ .Container.RestartCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <ul>
      <li>
        <a href="/container/{{ .Container.ID }}/logs">Logs TODO</a>
      </li>
      <li>
        <a href="/container/{{ .Container.ID }}/inspect">Inspect TODO</a>
      </li>
      <li>
        <a href="/container/{{ .Container.ID }}/stats">Stats TODO</a>
      </li>
      <li>
        <a href="/container/{{ .Container.ID }}/console">Console TODO</a>
      </li>
      <li>
        <a href="/container/{{ .Container.ID }}/attach">Attach TODO</a>
      </li>
    </ul>
  </div>
</div>

<div>
  <h2>Container details</h2>
  <div>
    <table>
      <tbody>
        <tr>
          <td>Image</td>
          <td>
            <a href="/images/{{ .Container.Image }}">{{ .Config.Image }}</a>
            {{ .Container.Image }}
          </td>
        </tr>
        <tr>
          <td>Ports</td>
          <td>
            {{ range $pt, $ports := .Network.Ports}}
            <ul>
              {{ range $ports}}
              <li>{{ .HostIP }}:{{ .HostPort }} -> {{ $pt }}</li>
              {{ end }}
            </ul>
            {{ end }}
          </td>
        </tr>
        <tr>
          <td>CMD</td>
          <td>{{ .Config.Cmd }}</td>
        </tr>
        <tr>
          <td>Entrypoint</td>
          <td>{{ .Config.Entrypoint }}</td>
        </tr>
        <tr>
          <td>ENV</td>
          <td>
            <table>
              <tbody>
                {{range .Config.Env}}
                <tr>
                  <td>{{ . }}</td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>Restart policies</td>
          <td>TODO</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <h2>Volumes</h2>
  <div>
    <table>
      <thead>
        <tr>
          <th>Host/volume</th>
          <th>Path in container</th>
        </tr>
      </thead>
      <tbody>
        {{range .Mounts}}
        <tr>
          <td>
            <a href="/volumes/{{.Name}}">{{.Name}}</a>
          </td>
          <td>{{.Destination}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>

<div>
  <h2>Networks</h2>
  <!-- TODO -->
  <!-- <div>Connect to: TODO</div> -->
  <div>
    <table>
      <thead>
        <tr>
          <th>Network</th>
          <th>IP Address</th>
          <th>Gateway</th>
          <th>MAC</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        {{ range $endpoint, $ep_settings := .Network.Networks }}
        <tr>
          <td><a href="/networks/{{ $ep_settings.NetworkID }}">{{ $endpoint }}</a></td>
          <td>{{ $ep_settings.IPAddress }}</td>
          <td>{{ $ep_settings.Gateway }}</td>
          <td>{{ $ep_settings.MacAddress }}</td>
          <!-- TODO -->
          <!-- <td> -->
          <!--   <a href="TODO">Leave TODO</a> -->
          <!-- </td> -->
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{end}}
