{{ template "base" . }}
{{define "content"}} 

<h1>Containers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Image</th>
      <th>Created</th>
      <th>IP Address</th>
      <th>Published Ports</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{range .Containers}}
    <tr>
      <td>
        <a href="/containers/{{.ID}}">{{.Name}}</a>
      </td>
      <td>{{.State}}</td>
      <td>{{.Image}}</td>
      <td>{{.CreatedStr}}</td>
      <td></td>
      <td></td>
      <td>
        <a href="/containers/{{.ID}}/inspect">inspect</a>
        <a href="/containers/{{.ID}}/logs">logs</a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

{{end}}
