{{ template "base" . }} {{define "content"}}

<h1>Image</h1>

<div>
  <h2>Image details</h2>
  <div>
    <table class="table-small">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ .Image.ID }}</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>
            {{ range .Image.RepoTags }}
            <ul class="table-ui">
              <li>{{ . }}</li>
            </ul>
            {{ end }}
          </td>
        </tr>
        <tr>
          <td>Parent</td>
          <td>{{ .Image.Parent }}</td>
        </tr>
        <tr>
          <td>Comment</td>
          <td>{{ .Image.Comment }}</td>
        </tr>
        <tr>
          <td>Size</td>
          <td>{{ .Image.Size }}</td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{ .Image.Created }}</td>
        </tr>
      </tbody>
    </table>
    <a href="/images/actions/remove/{{ .Image.ID }}" class="button error">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Remove
    </a>
  </div>
</div>

<div>
  <h2>Containers</h2>
  <table class="table-small">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .Containers }}
      <tr>
        <td>
          <a href="/containers/{{ .ID }}">{{ .Name }}</a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<div>
  <h2>History</h2>
  <table class="table-small">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tags</th>
        <th>Size</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {{ range .History }}
      <tr>
        <td>{{ .ID }}</td>
        <td>
          {{ range .Tags }}
          <span>{{ . }}</span>
          {{ end }}
        </td>
        <td>{{ .Size }}</td>
        <td>{{ .Created }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{end}}
