{{ template "base" . }} {{define "content"}}

<h1>Images</h1>

<table class="table-small striped">
  <thead>
    <tr>
      <th>Used</th>
      <th>Tags</th>
      <th>Size</th>
      <th>Created</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Images }}
    <tr>
      <td>{{ .Containers }}</td>
      <td>
        {{ if eq (len .RepoTags) 0 }}
        <ul class="table-ui">
          <li><a href="/images/{{ .ID }}">no tag</a></li>
        </ul>
        {{ else }} {{ $id := .ID }} {{ range .RepoTags }}
        <ul class="table-ui">
          <li><a href="/images/{{ $id }}">{{ . }}</a></li>
        </ul>
        {{ end }} {{ end }}
      </td>
      <td>{{ .Size }}</td>
      <td>{{ .Created }}</td>
      <td>
        <a href="/images/actions/remove/{{ .ID }}" class="button1 error">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Remove
        </a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>

<div>Total: {{ .Total }}</div>

{{end}}
