{{ template "base" . }} {{ define "content" }}

<div>
  <div class="row">
    <div class="col">
      <h2>Client</h2>
      <table class="table-small">
        <tbody>
          <tr>
            <td>DaemonHost</td>
            <td class="text-right">{{ .DaemonHost }}</td>
          </tr>
          <tr>
            <td>ClientVersion</td>
            <td class="text-right">{{ .ClientVersion }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <div>
        <h2>Server</h2>
        <table class="table-small">
          <tbody>
            <tr>
              <td>Hostname</td>
              <td class="text-right">{{ .SystemInfo.Name }}</td>
            </tr>
            <tr>
              <td>Server version</td>
              <td class="text-right">{{ .SystemInfo.ServerVersion }}</td>
            </tr>
            <tr>
              <td>
                <!-- <i class="fa fa-cubes" aria-hidden="true"></i> -->
                <a href="/containers">Containers</a>
              </td>
              <td class="text-right">
                <span class="ml-2" title="total">
                  <i class="fa fa-cubes" aria-hidden="true"></i>
                  {{ .SystemInfo.Containers }}
                </span>
                <span class="ml-2" title="running">
                  <i class="fa fa-play text-success" aria-hidden="true"></i>
                  {{ .SystemInfo.ContainersRunning }}
                </span>
                <span class="ml-2" title="stopped">
                  <i class="fa fa-stop text-error" aria-hidden="true"></i>
                  {{ .SystemInfo.ContainersStopped }}
                </span>
                <span class="ml-2" title="paused">
                  <i class="fa fa-pause text-grey" aria-hidden="true"></i>
                  {{ .SystemInfo.ContainersPaused }}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="/images">Images</a>
              </td>
              <td class="text-right">{{ .SystemInfo.Images }}</td>
            </tr>
            <tr>
              <td>OperatingSystem</td>
              <td class="text-right">
                {{ .SystemInfo.OperatingSystem }}({{ .SystemInfo.KernelVersion
                }})
              </td>
            </tr>
            <tr>
              <td>Address pool</td>
              <td class="text-right">
                {{ range .SystemInfo.DefaultAddressPools }} [
                <span>{{ .Base }} size: {{ .Size }}</span>
                ] {{ end }}
              </td>
            </tr>
            <tr>
              <td>Default runtime</td>
              <td class="text-right">{{ .SystemInfo.DefaultRuntime}}</td>
            </tr>
            <tr>
              <td>HW</td>
              <td class="text-right">
                <span class="ml-2">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                  {{ .SystemInfo.NCPU }}
                </span>
                <span class="ml-2">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>
                  {{ .SystemInfo.MemTotal }}
                </span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <h2>Swarm</h2>
        <table class="table-small">
          <tbody>
            <tr>
              <td>Node id</td>
              <td class="text-right">{{ .SystemInfo.Swarm.NodeID }}</td>
            </tr>
            <tr>
              <td>Node address</td>
              <td class="text-right">{{ .SystemInfo.Swarm.NodeAddr}}</td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{end}}
