{{ template "base" . }} {{define "content"}}

<h1>
  <i class="fa fa-sitemap" aria-hidden="true"></i>
  Networks
</h1>

<!-- actions -->
<div>
  <!-- <a href="/networks/actions/prune" class="button error"> -->
  <!--   <i class="fa fa-trash-o" aria-hidden="true"></i> -->
  <!--   Prune -->
  <!-- </a> -->
</div>

<table class="table-small">
  <thead>
    <tr>
      <th>Name</th>
      <th>Driver</th>
      <!-- <th>Mount point</th> -->
      <th>Created</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{range .Networks}}
    <tr>
      <td>
        <a href="/networks/{{ .ID }}">{{.Name}}</a>
      </td>
      <td>{{ .Driver }}</td>
      <!-- <td>{{ .Name }}</td> -->
      <td>{{ .Created }}</td>
      <td>
        <a href="/networks/actions/remove/{{ .Name }}" class="button1 error">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Remove
        </a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

<div>Total: {{ .Total }}</div>
{{end}}
