{{ template "base" . }} {{define "content"}}

<h1>
  <i class="fa fa-lock" aria-hidden="true"></i>

  Secret: {{ .Secret.Name }}
</h1>

<div>
  <h2>Secret details</h2>
  <div>
    <table>
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ .Secret.ID }}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ .Secret.Name }}</td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{ .Secret.Created }}</td>
        </tr>
        <tr>
          <td>Updated</td>
          <td>{{ .Secret.Updated }}</td>
        </tr>
      </tbody>
    </table>

    <div>
      <!-- <a href="/volumes/actions/remove/{{ . }}" class="button error"> -->
      <!--   <i class="fa fa-trash-o" aria-hidden="true"></i> -->
      <!--   Remove -->
      <!-- </a> -->
    </div>
  </div>
</div>

{{end}}
