{{ template "base" . }} {{define "content"}}

<h1>
  <i class="fa fa-lock" aria-hidden="true"></i>
  Secrets
</h1>

<!-- actions -->
<div>
  <!-- <a href="/secrets/actions/prune" class="button error"> -->
  <!--   <i class="fa fa-trash-o" aria-hidden="true"></i> -->
  <!--   Prune -->
  <!-- </a> -->
</div>

<table class="table-small">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{range .Secrets}}
    <tr>
      <td>
        <a href="/secrets/{{ .ID }}">{{.Name}}</a>
      </td>
      <td>{{ .Created }}</td>
      <td>{{ .Updated }}</td>
      <td>
        <a href="/secrets/actions/remove/{{ .Name }}" class="button1 error">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Remove
        </a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

<div>Total: {{ .Total }}</div>
{{end}}
