{{ template "base" . }} {{define "content"}}

<h1>
  <i class="fa fa-folder" aria-hidden="true"></i>
  Volumes
</h1>

<!-- actions -->
<div>
  <a href="/volumes/actions/prune" class="button error">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    Prune
  </a>
</div>

<table class="table-small">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stack</th>
      <th>Driver</th>
      <!-- <th>Mount point</th> -->
      <th>Created</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{range .Volumes}}
    <tr>
      <td>
        <a href="/volumes/{{.Name}}">{{.Name}}</a>
      </td>
      <td>{{ .StackName }}</td>
      <td>{{ .Driver }}</td>
      <!-- <td>{{ .Mountpoint }}</td> -->
      <td>{{ .CreatedAt }}</td>
      <td>
        <a href="/volumes/actions/remove/{{ .Name }}" class="button1 error">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Remove
        </a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

<div>Total: {{ .Total }}</div>
{{end}}
