{{ template "base" . }} {{define "content"}}

<h1>
  <i class="fa fa-folder" aria-hidden="true"></i>

  Volume: {{ .Volume.Name }}
</h1>

<div>
  <h2>Volume details</h2>
  <div>
    <table>
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ .Volume.Name }}</td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{ .Volume.CreatedAt }}</td>
        </tr>
        <tr>
          <td>Mount path</td>
          <td>{{ .Volume.Mountpoint }}</td>
        </tr>
        <tr>
          <td>Driver</td>
          <td>{{ .Volume.Driver }}</td>
        </tr>
      </tbody>
    </table>

    <div>
      <a href="/volumes/actions/remove/{{ .Volume.Name }}" class="button error">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Remove
      </a>
    </div>
  </div>
</div>

{{end}}
