
body {
  font-family: "Ubuntu";
}


/* chota override */
:root {
  /* defaults */
  /* --bg-color: #ffffff; */
  /* --bg-secondary-color: #f3f3f6; */
  /* --color-primary: #14854F; */
  /* --color-lightGrey: #d2d6dd; */
  /* --color-grey: #747681; */
  /* --color-darkGrey: #3f4144; */
  /* --color-error: #d43939; */
  /* --color-success: #28bd14; */
  /* --grid-maxWidth: 120rem; */
  /* --grid-gutter: 2rem; */
  /* --font-size: 1.6rem; */
  /* --font-color: #333333; */
  /* --font-family-sans: sans-serif; */
  /* --font-family-mono: monaco, "Consolas", "Lucida Console", monospace; */

  --color-primary: #da1d50; /* brand color */
  --grid-maxWidth: 120rem; /* max container width 1080px */
}

span.ml-2 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}
table.table-small td,
th {
  padding: 0.25rem 0.25rem;
}

.table-ui {
  margin-top: 5px;
  margin-bottom: 5px;
}
